.parametersBtn,
.optionsBtn {
  display: none;
}

@media (max-width: 640px) {
  .options-parameters {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }

  .options-parameters.active {
    visibility: visible;
    width: auto;
    height: calc(84% - 48px);
  }

  .parametersBtn,
  .optionsBtn {
    display: block;
  }

  .parametersBtn:active,
  .optionsBtn:active {
    background: linear-gradient(180deg, #55a7f2 0%, #765af4 100%);
  }

  .parameters {
    opacity: 0;
    visibility: hidden;
    position: relative;
    left: 100%;
    transition: 0.4s left linear;
    width: 0;
    margin: 0;
    height: 0;

    overflow-x: hidden;
  }

  .options {
    align-items: center;
    height: 800px;
    left: -100%;
    transition: 0.4s left linear;
    margin-bottom: 10px;
    padding: 0;
  }

  .results {
    opacity: 0;
    visibility: hidden;
    position: relative;
    left: 100%;
    transition: 0.4s left linear;
    height: 0;
    width: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .parameters.active {
    display: flex;
    flex: .8;
    flex-direction: column;
    opacity: 1;
    justify-content: space-between;
    height: 100%;
    visibility: visible;
    z-index: 1;
    width: 100vw;
    max-height: 800px;
    left: 0;
  }

  .options.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    justify-content: space-around;
    max-height: 800px;
    left: 0;
    align-items: flex-start;
    height: 100%;
  }

  .results.active {
    display: flex;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    max-height: 800px;
    left: 0;
    min-width: 360px;
    width: 100%;
    height: calc(84% - 48px);
    order: -1;
    justify-content: center;
  }
}
